@using MVCSalesforceCRUD.Helpers

@model MVCSalesforceCRUD.Models.Opportunity

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row my-3">
    <div class="col-lg-12">
        <h2>Update opportunity</h2>
    </div>
</div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form">
                @using (Html.BeginForm("Update", "Opportunities", null, FormMethod.Post, new { @class = "form-validate form-horizontal" }))
                {
                    @Html.ValidationSummary(true)
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="hdnId" name="ID" value="@Model.Id" />
                    <input type="hidden" id="hdnStage" value="@Model.StageName" />
                    <input type="hidden" id="hdnType" value="@Model.Type" />

                    <div class="form-group ">
                        <label for="cname" class="control-label">Name <span class="required">*</span></label>
                        <input class="form-control" id="cname" name="name" type="text" value="@Model.Name" required />
                    </div>
                    <div class="form-group ">
                        <label for="cclosedate" class="control-label">Close Date <span class="required">*</span></label>
                        <input class="form-control" id="cclosedate" name="closedate" type="text" required />
                    </div>
                    <div class="form-group ">
                        <label class="control-label">Stage <span class="required">*</span> </label>
                        @Html.DropDownList("StageName", EnumHelper.GetSelectList(typeof(Enums.OpportunityStage)), null, new { @class = "form-control" })
                    </div>
                    <div class="form-group ">
                        <label class="control-label">Type <span class="required">*</span> </label>
                        @Html.DropDownList("Type", EnumHelper.GetSelectList(typeof(Enums.OpportunityType)), null, new { @class = "form-control" })
                    </div>
                    <div class="form-group ">
                        <label for="camount" class="control-label">Amount</label>
                        <input class="form-control " id="camount" type="text" value="@Model.Amount" name="amount" />
                    </div>
                    <div class="form-group ">
                        <label for="cprobability" class="control-label">Probability</label>
                        <input class="form-control " id="cprobability" type="text" value="@Model.Probability" name="Probability" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Save</button>
                        <button class="btn btn-default" type="reset">Reset</button>
                    </div>
                }
            </div>
        </div>
    </div>

<script>
    $(function () {

        var closeDate = '@Model.CloseDate.ToString("dd/MM/yyyy")';
        $('#cclosedate').datepicker({
            format: 'dd/mm/yyyy',
        });
        $("#cclosedate").val(closeDate);

        $('#StageName option').map(function () {
            if ($(this).text() === $("#hdnStage").val()) return this;
        }).attr('selected', 'selected');

        $('#Type option').map(function () {
            if ($(this).text() === $("#hdnType").val()) return this;
        }).attr('selected', 'selected');

        $('#LeadSource option').map(function () {
            if ($(this).text() === $("#hdnSource").val()) return this;
        }).attr('selected', 'selected');

    });
</script>
