@model MVCSalesforceCRUD.Models.OpportunityLineItems
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row my-3">
    <div class="col-lg-3">
        <a href="@Url.Action("Add", "OpportunityLineitems", new { opportunityId = Request.QueryString["opportunityId"]})" class="btn btn-primary btn-lg">Add new Line item</a>
    </div>
</div>
<div class="row my-3">
    <div class="col-lg-12">
        <h4><b>Opportunity:</b> @Model.OpportunityDetails.Name </h4>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Sales Price</th>
                    <th>List Price</th>
                    <th>Quantity</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model.AllLineItems.Any())
                    {
                        foreach (var lineitem in Model.AllLineItems)
                        {
                <tr id="lineitem_@lineitem.Id">
                    <td>@lineitem.PricebookEntryId</td>
                    <td>@lineitem.UnitPrice</td>
                    <td>@lineitem.ListPrice</td>
                    <td>@lineitem.Quantity</td>
                    <td>@lineitem.Description</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-success" id="@lineitem.Id" href="@Url.Action("Update", "LineItems", new { lineitem = lineitem.Id })">Update</a>
                            <a class="btn btn-danger jsConfirmDeleteLineitem" id="@lineitem.Id" data-toggle="modal">Delete</a>
                        </div>
                    </td>
                </tr>
                        }
                    }
                }
            </tbody>
        </table>

        <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Delete Lineitem?</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure want to delete this lineitem from Salesforce?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnCancel" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button id="btnDeleteLineitem" class="btn btn-danger">Delete</button>
                        <button id="btnLoader" style="display: none;" class="btn btn-warning"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Please wait...</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="status-delete" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Lineitem Deleted</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div id="delete-success" class="alert alert-success" style="display: none;">
                            <strong>Success!</strong> <span class="jsSuccessMsg"></span>
                        </div>
                        <div id="delete-fail" class="alert alert-danger" style="display: none;">
                            <strong>Error!</strong> <span class="jsErrorMsg"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>

    .glyphicon-refresh-animate {
        -animation: spin .7s infinite linear;
        -webkit-animation: spin2 .7s infinite linear;
    }

    @@-webkit-keyframes spin2 {
        from {
            -webkit-transform: rotate(0deg);
        }

        to {
            -webkit-transform: rotate(360deg);
        }
    }

    @@keyframes spin {
        from {
            transform: scale(1) rotate(0deg);
        }

        to {
            transform: scale(1) rotate(360deg);
        }
    }
</style>

